*{
   margin: auto;
   padding: auto; 
}
.wrapp{
    width: 100%;
    height: 100%;
}
.player-sec-1,.player-sec-2{
    width: 50%;
    float: left;
}
.player-name{
    margin: 10% 0% 0% 30%;
}
.score-1,.score-2{
    margin: 15% 0% 0% 33%;
}
.player-score-box{
    text-align: center;
    width: 20%;
    background-color: brown;
    margin:30% 0% 0% 25%;
}
.player-score-lebel{
    padding: 12%;   
}
.player-score{
    padding: 7% 0% 30% 4%;;
    margin: 1% 0% 0% 4%;
}
.active{
    background-color: cornsilk;
}
.btn-new{
    position: absolute;
    top:13%;
    left: 45%;
}
.dice{
    position: absolute;
    top: 45%;
    left: 48%;
    width: 60px;
    height: 60px;
}
.btn-roll{
    position: absolute;
    top: 86%;
    left: 46%;
}
.btn-hold{
    position: absolute;
    top: 95%;
    left: 47%;
}